<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naver.myapplication"

    >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />




    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:label="MonthView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExToday"
        android:label="ViewSchedule">
        </activity>

        <activity android:name=".DexToday"
            android:label="ViewSchedule">
    </activity>
        <activity android:name=".WexToday"
            android:label="ViewSchedule">
        </activity>
        <activity android:name=".FDetail"
            android:label="AddSchedule">
        </activity>

        <activity android:name=".videoAct"
            android:label="VideoView">
        </activity>

        <activity android:name=".imageAct"
            android:label="VideoView">
        </activity>


        <activity android:name=".animationActivity"
            android:theme="@style/Theme.AppCompat"
            android:label="Pre-Animation"
            android:noHistory="true">
        </activity>

        <activity android:name=".WeekActivity"
            android:label="WeekView">
        </activity>

        <activity android:name=".DayActivity"
            android:label="DayView">
        </activity>


        <activity android:name=".Detail"
            android:label="AddSchedule">
        </activity>



    </application>

</manifest>

